body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.drop-zone {
  height: 300px;
  width: 300px;
  margin: 50px auto;
  border-radius: 2px;
  border: 1px solid black;
  text-align: center;
  transition: background 0.1s;
}
.drop-zone ul {
  text-align: left;
}
.draggable-item {
  height: 150px;
  width: 200px;
  margin: auto;
  border-radius: 2px;
  background: rgba(255,255,0,0.1);
  border: 1px solid black;
  text-align: center;
}
.drop-zone.drop-target * {
  pointer-events: none;
}
.drop-zone.drop-target {
  background: rgba(0,0,0,0.1);
  border: 1px dashed black;
}
