<h2>Ember-drop-zone</h2>

{{#drop-zone action="dropItem"}}
  {{#each list as |item|}}
    <div>{{item}}</div>
  {{else}}
    <p>Drop items here...</p>
  {{/each}}
  <div class="inner-box"></div>
{{/drop-zone}}

{{#draggable-item model=myModel}}
  <div>id: {{myModel.id}},</div>
  <div>type: {{myModel.constructor.modelName}}</div>
{{/draggable-item}}
